body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #091921;
    min-height: 100vh;
}

.circle {
    margin-top: 40px;
    position: relative;

    background: url(clock.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 350px;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
    inset 0 -15px 15px rgba(255,255,255,0.05),
    0 15px 15px rgba(0,0,0,0.3),
    inset 0 15px 15px rgba(0,0,0,0.3);
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transform1 {
    transform: rotate(45deg);
}

.transform2 {
    transform: rotate(-45deg);
}

.arrow {
    background: #fff;
    position: absolute;
    border-radius: 5px;
}

.sec {
    height: 130px;
    width: 2px;
    border-radius: 4px;
    transform-origin:  1px 30px;
    top: calc(50% - 30px);
    left: calc(50% - 1px);
    background: #6998ff;
    z-index: 10;
}

.min {
    height: 80px;
    width: 4px;
    border-radius: 5px;
    transform-origin: 2px 2px;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    z-index: 5;
}

.hour {
    height: 60px;
    width: 8px;
    transform-origin: 4px 4px;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    transform: rotate(80deg);
    background: #ff105e;
}



.point {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #fff;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    z-index: 100;
}

.digital {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    color: #E6E6E6;
}

.digital :first-child {
    font-size: 35px;
}

.digital :nth-child(2) {
    font-size: 25px;
}


.arrowhour {
    border-radius: 5px;
    border: 1px solid white;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
    color: #c8c8c8;
    border: 4px solid #091921;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
    inset 0 -15px 15px rgba(255,255,255,0.05),
    0 15px 15px rgba(0,0,0,0.3),
    inset 0 15px 15px rgba(0,0,0,0.3);
}



.button {
    align-self: center;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight:600;
    background: #091921 !important;
    border: 1px solid #091921 !important;
    box-shadow: 0 -5px 5px rgba(255,255,255,0.05),
    inset 0 -5px 15px rgba(255,255,255,0.05),
    0 5px 5px rgba(0,0,0,0.3),
    inset 0 5px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: .2s;
}

.button:hover{
    box-shadow: 0 -5px 5px rgba(255,255,255,0.05),
    0 5px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

#calendar {
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.titlecal {
    align-self: center;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

.yearcal {
    align-self: center;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

th {
    font-size: 25px;
    background: #091921 !important;
    padding: 5px !important;
    border: 4px solid #091921 !important;
    box-shadow: 0 -5px 5px rgba(255,255,255,0.05),
    inset 0 -5px 15px rgba(255,255,255,0.05),
    0 5px 5px rgba(0,0,0,0.3),
    inset 0 5px 5px rgba(0,0,0,0.3) !important;
}


td {
    font-size: 25px;
    background: #091921 !important;
    padding: 5px !important;
    border: 4px solid #091921 !important;
    box-shadow: 0 -5px 5px rgba(255,255,255,0.05),
    inset 0 -5px 15px rgba(255,255,255,0.05),
    0 5px 5px rgba(0,0,0,0.3),
    inset 0 5px 5px rgba(0,0,0,0.3) !important;
}

